<IfModule mod_rewrite.c>
    #RewriteEngine On
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ ppk.php [QSA,L]
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ ppk.php [QSA,L]
</IfModule>
