.app-message-box {
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.app-message {
    background: #60AB59;
    border: 1px solid #376E32;
}

.app-message-error {
    background: #991414;
    border: 1px solid #5E1414;
}